h1 {
  color:#000080;
}
h3{
  color:#000080;
  font-size:16px;

}
a {
  color:red;
}

h4{
  margin-top:-20px;
  font-size : 14px;
  color:#000080;
}


div{
  margin-top: -30px;

}

h3{
  margin-top:-20px; 
}

#box1{
  margin-top: -30px;
}

img{
  height:20px;
  margin-left:-30px;
}

#main{
  margin-top: -30px;
}

P{
  color:#000080;
}

#line2{
  margin-top:-10px;
}

#box3{
  margin-top:-10px;
}

#comment{
  font-size: 13px;
}

#legaldisclaimer{
  font-size : 13px;
}

#copyright{
  font-size : 13px;

}